@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    color: #000;
    word-wrap: break-word;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.link-hover {
    text-decoration: none;
}

#nvb-right {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.dropdown-toggle::after {
    display: none !important;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

#dropmenu {
    padding: 0 0 0 0.7em;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: 95%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.error {
    display: none;
}

.sidebar {
    position: fixed;
    top: 3rem;
    bottom: 0;
    z-index: 1000;
    padding: 1.5rem 0;
    overflow-x: auto;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.sidebar .nav-link {
    border-radius: 0;
}

nav p {
    user-select: none;
}