{% extends 'learn/base.html' %}

{% block content %}
        <div>
            <h1>
                Course name: {{ course.course_name }}
            </h1>
        </div>

        <hr/>

        <div>
            <h1>Brief Introduction</h1>
            <p><i><em>{{ course.brief }}</em></i></p>
        </div>

        <hr/>

        <div>
            <h1>Overview</h1>
            <p><i><em>{{ course.overview }}</em></i></p>
        </div>

        <hr/>

        <div>
            <h1>All lessons</h1>
            <ul>
                <!---->{% for each_lesson in lessons %}
                <!----><li><a href="{{ each_lesson.get_absolute_url }}">Lesson {{each_lesson.lesson_num}}: {{each_lesson.lesson_name}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {% if user.is_authenticated %}
            <h1>proportion</h1>
            <button >show proportion: {{ proportion }}</button>
            <script>
                function count() {
                    var checked_num = $("input[type=checkbox][name=course]:checked").length;
                    var total_lesson = {{course.total_lesson}};
                    document.getElementById("p").innerHTML=checked_num/total_lesson;
                    console.log(checked_num);
                    console.log(total_lesson);
                }
            </script>
            {% endif %}
        </div>
{% endblock content %}
