{% extends 'learn/base.html' %}
<!---->
{% load learn_tags %} {% block content %}
<!---->
<div class="row">
    <nav class="col-sm-3 col-md-2 bg-light sidebar ">
        <p class="pl-3">课程分类</p>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'learn' %}">all</a>
            </li>
            {% get_all_categories as categories %} {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link" aria-selected="false" href="{{ category.get_absolute_url }}">{{ category.category_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    

    <!---->
    <div class="col-sm-9 col-md-10 ml-sm-auto ">
        <div>
            {% for each_course in all_courses %} {% if forloop.counter0|divisibleby:3 %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="card link-hover" href="{{ each_course.get_absolute_url }}">
                    <img class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{each_course.course_name}}</h3>
                        <p class="card-text">
                            {% autoescape off %} {{each_course.brief}} {% endautoescape %}
                        </p>
                        <p class="card-text">
                            {% autoescape off %} {{each_course.overview|cut:" "}} {% endautoescape %}
                        </p>
                    </div>
                </a>
            </div>

            {% else %}
            <div class="col-md-4">
                <a class="card link-hover" href="{{ each_course.get_absolute_url }}">
                    <img class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{each_course.course_name}}</h3>
                        <p class="card-text">{% autoescape off %}{{each_course.brief}}{% endautoescape %}</p>

                        <p class="card-text">{% autoescape off %}{{each_course.overview|cut:" "}}{% endautoescape %}</p>
                    </div>
                </a>
            </div>
            {% endif %} {% endfor %}
            <!---->
        </div>
    </div>
</div>
{% endblock content %}