{% extends 'learn/base.html' %}

{% block content %}
<div class="container mt-3">
    <form id="passwordResetForm">
        {% csrf_token %}
        <div class="form-inline"> 
            <label for="id_email">电子邮件</label>
            <input id="id_email" class="form-control mx-sm-3" maxlength="254" name="email" type="email" aria-describedby="resetHelpText">
            <small id="resetHelpText" class="text-muted">输入你的电子邮件地址，我们将发送一封设置新密码的邮件给你。</small>
        </div>
        <br>
        <button class="d-block btn btn-primary" type="submit">确认</button>
    </form>
    
</div>

{% endblock %}