<html>
    <head>
        <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
        </script>
    </head>

    <body>
        <div>
            <header>
                Course Name
            </header>
        </div>

        <hr/>

        <div>
            <h1>Brief Introduction</h1>
            <p><i><em>*description</em></i></p>
        </div>

        <hr/>

        <div>
            <h1>Overview</h1>
            <p><i><em>*description</em></i></p>
        </div>

        <hr/>

        <div>
            <h1>All lessons</h1>
            <ol>
                <li><a href="">lesson1</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson2</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson3</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson4</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson5</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson6</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson7</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson8</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson9</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson10</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson11</a><input type="checkbox" name="course1" onclick="count()"></li>
                <li><a href="">lesson12</a><input type="checkbox" name="course1" onclick="count()"></li>
            </ol>
        </div>

        <div>
            <h1>proportion</h1>
            <button >show proportion</button>

            <span id="p">0</span>
            <script>
                function count() {
                    var checked_num = $("input[type=checkbox][name=course1]:checked").length;
                    document.getElementById("p").innerHTML=checked_num/12;
                    console.log(checked_num)
                }
            </script>
        </div>
    </body>

</html>