<html>
    <head>
        <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
        </script>
    </head>

    <body>
        <div>
            <h1>
                Course name: {{ course.course_name }}
            </h1>
        </div>
        {% if user.is_authenticated %}
        <em>welcome! {{ user.username }}</em>
        {% else %}
        <em>not log in</em>
        {% endif %}

        <hr/>

        <div>
            <h1>Brief Introduction</h1>
            <p><i><em>{{ course.brief }}</em></i></p>
        </div>

        <hr/>

        <div>
            <h1>Overview</h1>
            <p><i><em>{{ course.overview }}</em></i></p>
        </div>

        <hr/>

        <div>
            <h1>All lessons</h1>
            <ul>
                {% for each_lesson in all_lessons %}
                <li><a href="{% url 'lesson' course_url=course.course_url lesson_url=each_lesson.lesson_url lesson_num=each_lesson.lesson_num %}">Lesson {{each_lesson.lesson_num}}: {{each_lesson.lesson_name}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {% if user.is_authenticated %}
            <h1>proportion</h1>
            <button >show proportion: {{ proportion }}</button>
            <script>
                function count() {
                    var checked_num = $("input[type=checkbox][name=course]:checked").length;
                    var total_lesson = {{course.total_lesson}};
                    document.getElementById("p").innerHTML=checked_num/total_lesson;
                    console.log(checked_num);
                    console.log(total_lesson);
                }
            </script>
            {% endif %}
        </div>
    </body>

</html>