{% extends 'base.html' %}

{% block content %}
    <h1>
        {{ lesson.lesson_name }}
    </h1>
    <p>
        {{ lesson.learn }}
    </p>
    <p>
        {{ lesson.instructions }}
    </p>
    <p>
        {{ lesson.hint }}
    </p>
    <form method="POST">{% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">submit</button> 
    </form>
    <p>
        result
        {{ sub.result|linebreaks }}
    </p>
    <p>
        status
        {{ sub.status }}
    </p>
    {% if next_lesson.lesson_num <= lesson.course.total_lesson %}
        <a href="http://127.0.0.1:8000{% url 'lesson' course_url next_lesson.lesson_url next_lesson.lesson_num %}">next lesson</a>
    {% else %}
        <a herf="">next lesson</a>
    {% endif %}
{% endblock content %}